@charset "utf-8";
/******导航条******/
.navbar {
  margin-bottom: 0;
}
.head {
  background: #fff;
}
.head .logo {
  display: inline-block;
  width: 150px;
  height: 50px;
  position: relative;
  top: -15px;
}
.head .phone {
  width: 36px;
  height: 36px;
}
.head .navbar-right {
  display: inline-block;
  padding-top: 4px;
}
.head .navbar-right .hotline {
  margin-left: 40px;
}
.head .middle li a {
  font-size: 16px;
}
.head .middle li a:hover {
  color: #a50003;
}
/******大轮播******/
/******装饰风格******/
@media (max-width: 1199px) and (min-width: 768px) {
  .container {
    width: 100%;
  }
  .con img {
    max-width: 100%;
  }
}
.decorationStyle .detail div {
  padding-bottom: 20px;
}
.decorationStyle .detail div .right div img {
  width: 2.5rem;
  height: 1.7rem;
}
.container .title {
  padding: 20px 0;
}
/******装饰案例******/
.decorationCase .detail div {
  padding-bottom: 20px;
}
.decorationCase .detail div .bigImg_left {
  height: 3.6rem;
}
.decorationCase .items {
  background: #fffs;
}
.decorationCase ul {
  text-align: center;
}
.decorationCase ul li {
  float: left;
  width: 12.5%;
  padding: 10px 0;
}
.decorationCase ul li p {
  padding: 5px 0;
}
@media (max-width: 767px) {
  .decorationCase .items ul li {
    width: 25%;
  }
}
/******签约仪式******/
.slider {
  height: 420px;
  margin: 0 auto;
  width: 1140px;
  position: relative;
  overflow: hidden;
}
.slider .slider_max {
  width: 1100px;
  height: 420px;
  margin: 0 auto;
  overflow: hidden;
}
.slider .slider_max .slider_box {
  height: 420px;
  width: 1320px;
  overflow: hidden;
}
.slider .slider_max .slider_box li {
  width: 220px;
  float: left;
  padding: 0 7px;
  margin-left: 0;
  transition: all 1s linear;
}
.slider .slider_max .slider_box li img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #A50003;
}
.slider .ca_btn {
  width: 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #aaa;
  cursor: pointer;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  color: #eee;
}
.slider .camera_prev {
  left: 0px;
}
.slider .camera_next {
  right: 0px;
}
/******行业动态******/
.dynamics .item {
  padding-bottom: 15px;
}
.dynamics .item img {
  padding-bottom: 15px;
  max-width: 100% !important;
}
.dynamics .item p {
  text-align: center;
  padding: 0 15px;
}
/******合作品牌******/
.cooperative .hz div {
  padding-top: 20px;
}
/******团队介绍******/
.introduction {
  padding: 20px 0;
}
.td_slider {
  height: 300px;
  margin: 0 auto;
  width: 1140px;
  position: relative;
  overflow: hidden;
}
.td_slider .td_slider_max {
  width: 1100px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}
.td_slider .td_slider_max .td_slider_box {
  height: 300px;
  width: 1320px;
  overflow: hidden;
}
.td_slider .td_slider_max .td_slider_box li {
  width: 220px;
  float: left;
  padding: 0 7px;
  margin-left: 0;
  transition: all 1s linear;
}
.td_slider .td_slider_max .td_slider_box li img {
  width: 200px;
  height: 300px;
}
.td_slider .td_btn {
  width: 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #aaa;
  cursor: pointer;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  color: #eee;
}
.td_slider .td_prev {
  left: 0px;
}
.td_slider .td_next {
  right: 0px;
}
/******footer******/
.footer_h {
  position: relative;
  padding: 30px 0;
}
.footer_h .right {
  position: absolute;
  display: inline-block;
  right: 15px;
  top: 5px;
}
.footer_h .container {
  max-width: 1200px;
  padding: 0;
}
.year {
  width: 1rem;
  height: 0.6rem;
}
.f_form {
  position: relative;
}
.f_form .glyphicon {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #777;
}
.f_form input {
  width: 100%;
  background-color: #FFFCEF;
  height: 42px;
  text-indent: 23px;
  color: grey;
  border: none;
}
.f_form > div {
  margin: 5px 0;
}
.form_button {
  background-color: #a50003;
  border: none;
  width: 150px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 10px;
  margin-top: 25px;
  color: #fff;
  outline: none;
}
.footer_m dt {
  font-size: 18px;
}
.footer_m dd {
  margin-left: 24px;
  padding: 5px 0;
  font-size: 15px;
}
/*# sourceMappingURL=index.css.map */
